 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

header{
  text-align: center;
  font-size:60px;
  color: blue;
  display: block;
}

.welcome{
  margin:0 auto;
  text-align: center;
  background-image: URL('http://www.mariomayhem.com/fun/smb_level_editor/images/overworld_bg.png');
  height: 386px;
  width:900px;
}

.choose{
  display:none;
  margin: 0 auto;
  text-align: center;
  background-image: URL('http://www.mariomayhem.com/fun/smb_level_editor/images/overworld_bg.png');
  height: 386px;
  width:900px;

  .players{
    margin-left: 86px;
    margin-top: 37px;
  }

  .mario{
    float:left;
    margin-left: 100px;
  }
  .luigi{
    float:left;
    margin-left: 100px;
  }
  .peach{
    float:left;
    margin-left: 100px;
  }

  img{
    height: 150px;
    float:left;
  }

  button{
    clear:both;
    float:left;
    margin: 0 auto;
    width:100%;
    color: white;
    background-color: HSLA(20, 86%, 43%, 1);
    border:2px solid;
    border-color:HSLA(221, 42%, 20%, 1);
  }

}

.fight{
  display:none;
  margin: 0 auto;
  text-align: center;
  background-image: URL('http://www.mariomayhem.com/fun/smb_level_editor/images/overworld_bg.png');
  height: 386px;
  width:900px;
}
