 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

header{
  text-align: center;
  font-size:60px;
  color: blue;
  display: block;
}

.hero-unit {
  margin: 0 auto;
  margin-top:35px;
  background-image: URL('http://www.mariomayhem.com/fun/smb_level_editor/images/overworld_bg.png');
  height: 385px;
  width: 943px;

/*   img{
  transition: .8s ease;
}

img:hover{
  height:6.0em;
  width:6.0em;
  transition: .8s ease;

} */
      .mariopic{
        height:2.95em;
        width:2.95em;
        float:left;
      }
      .luigipic{
        height:2.95em;
        width:2.95em;
        float:left;
      }
      .peachpic{
        height:2.95em;
        width:2.95em;
        float:left;
      }

      .wariopic{
        height:2.95em;
        width:2.95em;
        float:right;
      }
      .waluigipic{
        height:2.95em;
        width:2.95em;
        float:right;
      }
      .bowserpic{
        height:2.95em;
        width:2.95em;
        float:right;
      }


    .fighter{
      height:500px;
      width:500px;
    }
}
